<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/backendStyle.css">
</head>
<body>
    <header>
        <h1 id="page-title">Hello, Admin!</h1>
    </header>
    <nav>
        <button id="btnShowAllSessions">Show all sessions</button>
        <button id="btnShowSessionsWithId">Show session with id</button>
    </nav>
    <div id="content-div">

    </div>


    <script src="javascripts/backendScripts.js"></script>
</body>
</html>